extends layout

block content
form(id='form', method='post', action='/account/' + person.id)
    label(for='username') Username:
    input(type='text', name='Username' value=person.username)
    br
    label(for='password') Password:
    input(type='text', name='Password' value=person.password)
    br
    label(for='email') Email:
    input(type='text', name='Email' value=person.email)
    br
    label=(for='age') Age:
    input(type='text', name='Age' value=person.age)
    br
    input(type='submit', value='Submit')

