extends layout

block content
    div(class='edit')
        form(id='form', method='post', action='/editaccount')
            p Username: &nbsp;
                input(type='text', name='Username' value=person.username)
            p Password: &nbsp;
                input(type='password', name='Password')
            p Email: &nbsp;
                input(type='text', name='Email' value=person.email)
            p Age: &nbsp;
                input(type='text', name='Age' value=person.age)
            p Favourite primary colour: &nbsp;
                input(type='text' name='Q1' value=person.q1)
            p Number of Siblings: &nbsp;
                input(type='text' name='Q2' value=person.q2)
            p Gender Identification: &nbsp;
                input(type='text' name='Q3' value=person.q3)
            p
                input(type='submit', value='Submit', class='btn')

