extends layout

block content
    div(class='edit')
        form(id='form', method='post', action='/editaccount')
            h3 Avatar: &nbsp;
            img(id="avatarImg" width="100" height='100')
            p Nose Option:
                input(type="number", name="noseOption", id="noseOption" value=person.avatar.nose min="0" max="9")
            p Mouth Option:
                input(type="number", name="mouthOption", id="mouthOption" value=person.avatar.mouth min="0" max="8")
            p Eyes Option:
                input(type="number", name="eyesOption", id="eyesOption" value=person.avatar.eyes min="0" max="8")
            p Color:
                input(type="color", name="colorOption", id="colorOption" value=person.avatar.color)
            script(src="avatarControl.js")
            p Username: &nbsp;
                input(type='text', name='Username' value=person.username)
            p Password: &nbsp;
                input(type='password', name='Password')
            p Email: &nbsp;
                input(type='text', name='Email' value=person.email)
            p Age: &nbsp;
                input(type='text', name='Age' value=person.age)
            p What is your favourite primary colour? (Red, Yellow or Blue): &nbsp;
                select(name="Q1")
                    case person.q1
                        when "yellow"
                            option(value="red") Red
                            option(value="yellow" selected) Yellow
                            option(value="blue") Blue
                        when "blue"
                            option(value="red") Red
                            option(value="yellow") Yellow
                            option(value="blue" selected) Blue
                        default
                            option(value="red" selected) Red
                            option(value="yellow") Yellow
                            option(value="blue") Blue
            p How many siblings do you have? &nbsp;
                select(name="Q2")
                    case person.q2
                        when "one"
                            option(value="zero") 0
                            option(value="one" selected) 1
                            option(value="two") 2
                            option(value="three") 3
                            option(value="fourplus") 4+
                        when "two"
                            option(value="zero") 0
                            option(value="one") 1
                            option(value="two" selected) 2
                            option(value="three") 3
                            option(value="fourplus") 4+
                        when "three"
                            option(value="zero") 0
                            option(value="one") 1
                            option(value="two") 2
                            option(value="three" selected) 3
                            option(value="fourplus") 4+
                        when "fourplus"
                            option(value="zero") 0
                            option(value="one") 1
                            option(value="two") 2
                            option(value="three") 3
                            option(value="fourplus" selected) 4+
                        default
                            option(value="zero" selected) 0
                            option(value="one") 1
                            option(value="two") 2
                            option(value="three") 3
                            option(value="fourplus") 4+
            p What do you identify as? (Male, Female, Non-Binary, or Other): &nbsp;
                select(name="Q3")
                    case person.q3
                        when 'female'
                            option(value="male") Male
                            option(value="female" selected) Female
                            option(value="non-binary") Non-Binary
                            option(value="other") Other
                        when 'non-binary'
                            option(value="male") Male
                            option(value="female") Female
                            option(value="non-binary" selected) Non-Binary
                            option(value="other") Other
                        when 'other'
                            option(value="male") Male
                            option(value="female") Female
                            option(value="non-binary") Non-Binary
                            option(value="other" selected) Other
                        default
                            option(value="male" selected) Male
                            option(value="female") Female
                            option(value="non-binary") Non-Binary
                            option(value="other") Other
            p
                input(type='submit', value='Submit', class='btn')

